* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(https://images.alphacoders.com/681/681708.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    width: 100%;
  }
  
  .form-container {
    position: relative;
    max-width: 400px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(55px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem;
    margin: 20px;
    color: #fff;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  input[type="text"],
  input[type="password"],
  button {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    outline: none;
    margin-bottom: 20px;
    padding: 0 15px;
    font-size: 1rem;
  }
  
  button[type="submit"] {
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.4s ease;
  }
  
  button[type="submit"]:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  #guest-btn {
    background-color: rgba(255, 255, 255, 0.9);
    font-weight: 600;
    transition: background-color 0.4s ease;
  }
  
  #guest-btn:hover {
    background-color: rgba(255, 255, 255, 0.7);
  }

/* Style for flashed messages */
.flash-messages {
    margin-bottom: 20px;
}

ul.flashes {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.flashes li {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

/* Style for success message */
ul.flashes li.success {
    background-color: #d4edda;
    color: #155724;
}

/* Style for info message */
ul.flashes li.info {
    background-color: #cce5ff;
    color: #004085;
}

/* Style for warning message */
ul.flashes li.warning {
    background-color: #fff3cd;
    color: #856404;
}

/* Style for error message */
ul.flashes li.error {
    background-color: #f8d7da;
    color: #721c24;
}
