<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beginner Level - Language Learning</title>
    <link rel="stylesheet" href="static/level.css">
</head>

<body>
    <header>
        <h1>Language Learning</h1><!-- Levels -->
        <nav>
            <ul>
                <li><a href="/beginner">Beginner</a></li>
                <li><a href="/intermediate">Intermediate</a></li>
                <li><a href="/advanced">Advanced</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="options"><!-- Themed options -->
            <h2>Choose an Option:</h2>
            <ul>
                <li><a href="/transport">Transport</a></li>
                <li><a href="/furniture">Furniture</a></li>
                <li><a href="/weather">Weather</a></li>
                <li><a href="/advancedtest">Flashcard Test</a></li>
            </ul>
        </div>
    </main>

    <footer>
        <p>&copy; 2023 Language Learning. All rights reserved.</p>
    </footer>
</body>

</html>
