<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/path.css">
    <title>Language Learning Options</title>
</head>

<body>
    <div class="container"><!-- Levels/Quiz -->
        <h1>Choose Your Learning Path</h1>
        <div class="options">
            <a href="/beginner" class="option">Beginner Level</a>
            <a href="/intermediate" class="option">Intermediate Level</a>
            <a href="/advanced" class="option">Advanced Level</a>
            <a href="/quiz" class="option">Take a Quiz</a>
        </div>
    </div>
</body>

</html>
